############################
# 🟢 Frontend
############################
swap-platform-frontend/node_modules/
swap-platform-frontend/.next/
swap-platform-frontend/dist/
swap-platform-frontend/build/

############################
# 🔵 Backend
############################
swap-platform-backend/__pycache__/
swap-platform-backend/*.pyc
swap-platform-backend/.env

############################
# 🟡 Database
############################
*.db
*.sqlite3
*.sql

############################
# 🟠 Logs
############################
*.log

############################
# ⚫ OS
############################
.DS_Store
Thumbs.db
